<link href="//cdn.staticfile.net/ajax/libs/prism/1.30.0/themes/{{site.data.site.prism.themes}}.css" rel="stylesheet">
{% if false  %} <!-- 已优化，屏蔽了 -->	
	<script src="//cdn.staticfile.net/ajax/libs/prism/1.30.0/prism.min.js"></script>
	<script>
		Prism.languages.lua = { comment: /^#!.+|--(?:\[(=*)\[[\s\S]*?\]\1\]|.*)/m, string: { pattern: /(["'])(?:(?!\1)[^\\\r\n]|\\z(?:\r\n|\s)|\\(?:\r\n|[\s\S]))*\1|\[(=*)\[[\s\S]*?\]\2\]/, greedy: !0 }, number: /\b0x[a-f\d]+\.?[a-f\d]*(?:p[+-]?\d+)?\b|\b\d+(?:\.\B|\.?\d*(?:e[+-]?\d+)?\b)|\B\.\d+(?:e[+-]?\d+)?\b/i, keyword: /\b(?:and|break|do|else|elseif|end|false|for|function|goto|if|in|local|nil|not|or|repeat|return|then|true|until|while)\b/, function: /(?!\d)\w+(?=\s*(?:[({]))/, operator: [/[-+*%^&|#]|\/\/?|<[<=]?|>[>=]?|[=~]=?/, { pattern: /(^|[^.])\.\.(?!\.)/, lookbehind: !0 }], punctuation: /[\[\](){},;]|\.+|:+/ };
	</script>
	{%for l in site.data.site.prism.components%}
	<script src="//cdn.staticfile.net/ajax/libs/prism/1.30.0/components/prism-{{ l }}.min.js"></script>
	{% endfor %}
	<!-- https://cdn.jsdelivr.net/npm/prismjs/prism.min.js  -->
	<!-- https://cdn.jsdelivr.net/npm/prismjs@1.30.0/prism.min.js  -->
{% endif %}

<script src="//cdn.staticfile.net/ajax/libs/prism/1.30.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="//cdn.staticfile.net/ajax/libs/prism/1.30.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="//cdn.staticfile.net/ajax/libs/prism/1.30.0/plugins/download-button/prism-download-button.js"></script>

<style>
	pre[class*="language-"] {
		max-height: none;
	}
</style>