<div class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="{{ site.data.site.comment.giscus_repo }}"
        data-repo-id="{{ site.data.site.comment.giscus_repo_id }}"
        data-category-id="{{ site.data.site.comment.giscus_category_id }}"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
<script>
    if (window.location.hostname === 'localhost' || window.location.hostname === '127.0.0.1') {
        $('script').filter((i, e) => $(e).attr('src') != undefined && $(e).attr('src').indexOf('giscus') > -1).remove();
        $('.giscus').remove();
    }
</script>